@import "_variables";

body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
}

.container {
  padding: $containerPadding;
}

::-moz-selection {
  background-color: $mainColor;
}

::selection {
  background-color: $mainColor;
}