@import "_variables";

$contentHeight: $headerHeight - 2 * $containerPadding;

.header {
  position: fixed;
  width: 100vw;
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
  background-color: $orange;
  box-shadow: 0px 5px 10px -5px rgba(34, 60, 80, 0.6);

  .container {
    height: 100%;
    display: inline-block;
  }

  .header__logo {
    font-size: $contentHeight;
    cursor: pointer;
    
    i, h1 {
      color: $white;
      display: inline;
    }
  }

  .header__search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    max-width: 600px;

    input {
      width: 100%;
      box-shadow: 0px 0px 10px -4px rgba(34, 60, 80, 0.2);
      padding: 5px;
      height: $contentHeight;
      border-radius: 10px 0 0 10px;
      color: $braun;
      background-color: $white;
      font-size: 1.2rem;
      border: 1px solid $braun;
      border-right: none;

      &:focus {
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2) inset;
      }
    }

    .search-btn {
      width: $contentHeight + 4px;
      height: $contentHeight;
      border: 1px solid $braun;
      border-left: none;
      background-color: $braun;
      color: $white;
      text-align: center;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      font-size: $contentHeight * 0.5;
      transition: 150ms;

      &:hover {
        box-shadow: 0px 0px 10px -3px rgba(34, 60, 80, 0.2) inset;
      }
    }

    .microphone-btn {
      margin-left: $containerPadding;
      font-size: $contentHeight * 0.65;
      color: $white;
      background-color: $orange;
      transition: 150ms;
    
    }
  }

  .header__menu {
    width: $sidebarWidth;
    display: flex;
    justify-content: flex-end;
    
    .notifications {
      color: $white;
      background-color: $orange;
      font-size: $contentHeight * 0.65;
      transition: 150ms;
    }
    
    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $contentHeight;
      width: $contentHeight;
      margin-left: $containerPadding;
      border-radius: 50%;
      background-color: $braun;
      color: $white;
      transition: 150ms;
      cursor: pointer;

      &:hover {
        background-color: $gray;
      }

      .dropdown-content {
        position: fixed;
        right: -200px;
        top: $headerHeight - $containerPadding;
        width: 180px;
        background-color: $gray;
        box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.2);
        border: 1px solid $orange;
        border-radius: 15px;
        overflow: hidden;
        font-size: 1.2rem;
        z-index: inherit;
        transition: 400ms;

        .dropdown-item {
          padding: $containerPadding;
          border-top: 1px solid $orange;
          color: $white;

          h6 {
            display: inline;
          }

          &:hover {
            background-color: $darkGray;
          }
        }

        .log-out {
          color: $orange;
        }
      }

      &:hover .dropdown-content {
        right: $containerPadding;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    .header__logo h1 {
      display: none;
    }

    .header__menu {
      width: auto;
    }
  }


}